.roboto-uniquifier {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.header header {
    background-color: #ffe6f7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #c160c8;
    padding: 8px;
}

.header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header header img {
    width: 150px;
    margin-left: 20px;
}

.header .titulo {
    color: #7a287d;
    font-size: 28px;
    font-weight: bold;
    margin-right: 800px;
    margin-top: 5px;
}

.header .button a{
    background-color: #7a287d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header nav {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header nav a {
    color: #7a287d;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 25px;
    border: 2px solid #7a287d;
    border-radius: 8px;
    background-color:  #ffe6f7;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header nav a:hover {
    background-color: #c160c8;
    color: #fff;
    transform: scale(1.1);
    border-color: #c160c8;
}

.header nav .dropdown {
    position: relative;
}

.header nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 200%;  
    left: 0;
    background-color: #444;
    padding: 0;
    list-style: none;
    border-radius: 8px;
}

.header nav .dropdown:hover .dropdown-menu {
    display: block;
}

.header nav .dropdown-menu li a {
    color: purple;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    background-color:  #ffe6f7;
    transition: background-color 0.3s ease;
}

.header nav .dropdown-menu li a:hover {
    background-color: #c160c8;
}
