.roboto-uniquifier {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.servicio body {
    margin: 0;
    background-color: #fdf3f7;
}
.servicio .grid{
    display: grid;
    gap: 20px;
    padding: 40px;
}   
.servicio .grid333{
    grid-template-columns: 33% 33% 33%;
}
.servicio .grid333 img{
    border-radius: 20px;
    width: 300px;
    max-width: 450px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.servicio .servicio{
    max-width: 1200px;
    margin: auto;
    background-color: #ffe6f7;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.servicio h1 {
    text-align: center;
    font-size: 36px;
    color: #7a287d;
    margin-top: 30px;
}

.servicio h2 {
    text-align: center;
    font-size: 28px;
    color: #c160c8;
    margin-top: 10px;
}

.servicio p {
    background-color: #ffe6f7;
    border-radius: 30px;
    padding: 80px;
    text-align: center;
    font-size: 18px;
    color: #7a287d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin: 0;
    margin-right: 20px;
}
.servicio b {
    color: #7a287d;
    font-weight: bold;
}
.servicio li {
    margin-bottom: 10px;
    font-size: 1rem;
}


.servicio li b {
    color: #7a287d;
    font-size: 1.1rem;
}
.servicio .contacto{
    text-align: center;
}
